$default-font-size: 16;

// breakpoints
$min-width-desktop: 1024px;

// colors
$body-copy-color: #666;
$accent-color: #ffd22d;
$accent-color-darkened: #e7bd21;
$secondary-header-color: #8f8f8f;
$tertiary-header-color: #bbb;
