$default-font-size: 16;

// breakpoints
$min-width-desktop: 1024px;

// colors
$body-copy-color: #666;
$accent-color: #ffd22d;
$border-color: #888;

// fonts
$sans-serif: 'Roboto', Helvetica, sans-serif;
$monospace: 'Cousine', monospace;
